.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.modal-wrapper {
    position: fixed;
    left: 20%;
    top: 0;
    background: #fff;
    width: 80%;
    max-width: 800px;
    margin: 4rem auto;
    z-index: 99999;
    border-radius: 5px;
}

.modal-header {
    display: flex;
    background: #2c2c2c;
    color: #fff;
    align-items: center ;
}

.card-title {
    margin-top: 8px;
}